body { 
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11pt;
}

svg {
    width: 80%;
    height: 95%;
    border: solid 1px black;
}

svg text.centroid {
    font-size: 16pt;
    stroke-width: 0;
}

svg circle.centroid {
    fill: transparent;
    stroke: black; 
    stroke-width: 1;
}

.legendPanel {
    width: 18%;
    height: 95%;
    float: right;
}

.legend {
    height: 25px;
}

.legend .colorbox {
    width: 15px;
    height: 15px;
    float: left;
}

.legend .name {
    margin-left: 20px;
    text-transform: lowercase;
}